@model RazorWebApplication.Models.AlbumModel

@{
    ViewBag.Title = $"Info for album {this.Model.Name}";
    Layout = "_layout";
}

<h3>Album: @this.Model.Name</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <b>Name</b>
        </div>
        <div class="col">
            <b>Artist</b>
        </div>
        <div class="col">
            <b>Image url</b>
        </div>

    </div>
    <div class="row">
        <div class="col">
            @this.Model.Name
        </div>
        <div class="col">
            @Html.ActionLink(this.Model.Artist.Name, "Details", "Artist", new {modelId = this.Model.Artist.Id}, null)
        </div>
        <div class="col">
            <a href="@this.Model.ImageUrl">@this.Model.ImageUrl</a>
        </div>
    </div>
    <div>
        <b>Songs:</b>
    </div>
    @if (this.Model.Song.Count() != 0)
    {
        <div class="container" style="outline: solid">
            <div class="row">
                <div class="col">
                    <b>Song</b>
                </div>
                <div class="col">
                    <b>Duration</b>
                </div>
            </div>
            @foreach (var songModel in this.Model.Song)
            {
                <div class="row">
                    <div class="col">
                        @Html.ActionLink(songModel.Name, "Details", "Song", new {modelId = songModel.Id}, null)

                    </div>
                    <div class="col">
                        @songModel.Duration
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div>No songs!</div>
    }
    <input action="action" onclick="window.history.go(-1); return false;" type="button" value="Back"/>

</div>